/* #region app brand [title] and logo img styles */
nav .nav-wrapper a.brand-logo {
  position: unset;
  width: 8rem;
  text-align: center;
  line-height: 2rem;
  font-size: 1.3rem;
  font-weight: 500;
}
nav .nav-wrapper img {
  width: 3rem;
  display: inline-block;
  margin-left: 0.6rem;
}
/* #endregion */

/* #region user-info styles */
nav .nav-wrapper .user-info {
  height: 100%;
  display: flex;
}
nav .nav-wrapper .user-info .fas.fa-user-tie {
  font-size: 2rem;
}
nav .nav-wrapper .user-info span {
  display: block;
  width: 10rem;
  height: 100%;
  line-height: 1.5rem;
  margin-top: 0.5rem;
  text-align: center;
}
nav .nav-wrapper .user-info a {
  padding: 0.15rem 1rem 0.5rem;
}
/* #endregion */

/* #region sidenav [used in med and down devices] styles */
nav a.sidenav-trigger {
  cursor: pointer;
  margin-left: 1rem;
}
ul#slide-out.sidenav li > a {
  padding: 0 0 0 0.5rem;
  text-align: right;
}
/* #endregion */
