/* #region helper classes */
.hidden {
  display: none !important;
}
.flex {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pointer {
  cursor: pointer;
}
.card-header {
  padding: 1.2rem 1rem;
}
.sm {
  font-size: 2.5rem !important;
  line-height: inherit !important;
}
.md {
  font-size: 4rem !important;
  line-height: inherit !important;
}
.lg {
  font-size: 6rem !important;
  line-height: inherit !important;
}
/* #endregion */

/* #region form error messages  */
div.error i {
  margin-top: 0.4rem;
}
div.error span {
  text-indent: 0.5rem;
}
i.material-icons.required {
  color: #f00;
  font-size: 10px;
  font-weight: 700;
  margin-right: 5px;
}
/* #endregion */

/* #region switch materialize component styles */
.switch {
  display: inline-block !important;
  transform: scale(1.1);
  padding-right: 25px;
}
/* #endregion */

/* #region check-options [ radio buttons - checkboxes ] */
div.check-options {
  padding-top: 10px;
}
.rtl div.check-options > label {
  margin-left: 30px;
}
/* #endregion */

/* #region materialize datepicker styles [months - years] */
body > ul.dropdown-content.select-dropdown {
  right: 60% !important;
  left: auto !important;
  top: 60px !important;
  height: 441px !important;
  z-index: 1100 !important;
}
body > ul.dropdown-content.select-dropdown:last-child {
  right: 50% !important;
}
input.datepicker,
input.datepicker ~ label {
  cursor: pointer;
}
/* #endregion */

/* #region adjust merterialize css form styles */
.rtl .input-field .prefix ~ .validate {
  margin-left: inherit;
  margin-right: 3rem;
}
.input-field .prefix ~ .validate {
  margin-right: inherit;
  margin-left: 3rem;
}
/* #endregion */

/* #region autocompelete-select [react-select] */
.autocompelete-select > div:first-child {
  height: 38px;
}
ul.autocomplete-content li img {
  display: none;
}
/* #endregion */

/* #region table styles */
.rtl td {
  text-align: right;
}
/* #endregion */

/* #region btn floating */
.btn-floating {
  margin-left: 1rem;
}
.btn-floating i {
  margin-top: 0.1rem;
}
/* #endregion */

/* #region react-tag-input styles */
div.ReactTags__selected {
  direction: ltr;
  margin-top: 1rem;
}
span.tag-wrapper.ReactTags__tag {
  background-color: #aaa;
  margin-left: 0.3rem;
  padding: 0.25rem 0.5rem;
  padding-left: 0.75rem;
  border-radius: 10rem;
}
a.ReactTags__remove {
  cursor: pointer;
  margin-left: 0.4rem;
}
div.ReactTags__tagInput {
  direction: rtl;
}
/* #endregion */

/* #region other */
.divider {
  margin-bottom: 2rem;
}
/* #endregion */
